<div class="container">
   <div class="row">
      <div class="col-sm-3">
         <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/books">Books</a></li>
            <li><a href="/catalog/authors">Authors</a></li>
            <li><a href="/catalog/genres">Genres</a></li>
            <li><a href="/catalog/bookinstances">Book instances</a></li>
            <li>
            <hr>
            </li>
            <li><a href="/catalog/author/create">Create author</a></li>
            <li><a href="/catalog/genre/create">Create genre</a></li>
            <li><a href="/catalog/book/create">Create book</a></li>
            <li><a href="/catalog/bookinstance/create">Create book instance (copy)</a></li>
         </ul>
      </div>
